<div>
  <h4>RxJS Project</h4>
  <br>
  <p><b>Data appears after 3 seconds. Please wait. Thank you!!!</b></p>
  <p>Timer: {{val}} seconds</p>
  <p>Number of Data: {{noOfData}}</p>
  <p>{{completionStatus}}</p>

  <!--  <div class="container">-->
  <!--    <div class="row" style="margin-top: 30px">-->
  <!--      <div class="col-md-3 col-xs-6" *ngFor="let student of students">-->
  <!--        <div class="card">-->
  <!--          <div class="card-body">-->
  <!--            <p class="card-title">ID: {{ student.id }}</p>-->
  <!--            <p class="card-title">Name: {{ student.name }}</p>-->
  <!--            <p class="card-subtitle">Enrollment Number: {{ student.enrollmentNumber }}</p>-->
  <!--            <p class="card-text">College: {{ student.college }}</p>-->
  <!--            <p class="card-text">University: {{ student.university }}</p>-->
  <!--            <button class="mat-raised-button" style="background-color: aqua" href="/users" [routerLink]="['/users']">Back to 'Users'</button>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div *ngIf="userInfo != null, else noUsers">
    <table class="table table-bordered">
      <tr class="bg-primary">
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address (City)</th>
        <th>Address (Zipcode)</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company Name</th>
      </tr>
      <tr *ngFor="let users of userInfo">
        <td>{{users.id}}</td>
        <td>{{users.name}}</td>
        <td>{{users.username}}</td>
        <td>{{users["email"]}}</td>
        <td>{{users.address.city}}</td>
        <td>{{users.address["zipcode"]}}</td>
        <td>{{users.phone}}</td>
        <td>{{users["website"]}}</td>
        <td>{{users["company"].name}}</td>
      </tr>
    </table>
  </div>
  <div>
    <button class="mat-raised-button" style="background-color:aqua" (click)="getStreetListings()">List of Streets</button>
    <br><br>
    Street Names: {{this.mappedData | json}}
  </div>
  <ng-template #noUsers>
    <p class="alert alert-danger text-center">{{errorMessage}}</p>
  </ng-template>
</div>
