<div>
    <mat-card class="card">Promise vs. Observable</mat-card>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: greenyellow" (click)="handlePromise()">Promise</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: burlywood" (click)="handleObservable()">Observable</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: cadetblue" (click)="getConvertPromiseToObservable()">Convert Promise to Observable</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: lightpink" (click)="handleSwitchMap()">Switch Map</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: lightskyblue" (click)="handleSwitchMap2()">Switch Map 2</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: lightseagreen" (click)="handleTemplateLiteral()">Template Literal</button>
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: lightslategray" (click)="startTimer()">Start Timer</button>
        ( {{_everySecond}} , {{_everySecond2}} , {{_everySecond3}} )
    </div>
    <br>
    <div>    
        <button appMaterialElevation mat-raised-button style="background-color: lightgoldenrodyellow" (click)="unsubscribeTimer()">Unsubscribe Timer</button>
        &nbsp;<a class="status">{{timerUnsubsribeStatus}}</a>
    </div>
</div>