<div>
  <h4>Filter autocomplete</h4>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-slide-toggle
      [checked]="myControl.disabled"
      (change)="myControl.disabled ? myControl.enable() : myControl.disable()">
      Disable Selection
    </mat-slide-toggle>
  </form>
</div>
<br>
<div>
  <label>Add a string: <input #newItem></label><br>
  <button mat-raised-button class="fixed-button" (click)="sendDataToRxJSComponent(newItem.value)">Send data to RxJS Component</button>
</div>
<br>
<div>
  <button mat-raised-button class="btn-color" (click)="showInputOutputDecoratorsDiagram()">Click to view @Input() and @Output decorators diagram</button>
  <br><br>
  <img [src]="decoratorDiagramImage" style="width:50%;">
</div>
