<div class="header">
  <img class="wording" [src]="angularWording">
  <p class="opening">Welcome to Angular</p>
</div>

<div class="sidenav">
  <img [src]="angularLogo" style="width: auto; height: 150px; margin-top: -20px;" class="background" (click)="onNavigateToAngularDocument()"><br><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" fxLayout.xs="column" [routerLink]="['/rxjs-proj']"><strong><mat-icon>assistant</mat-icon>&nbsp;User Data</strong></mat-card><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" fxLayout.xs="column" [routerLink]="['/rxjs-proj']"><strong><mat-icon>assistant</mat-icon>&nbsp;RxJS Project</strong></mat-card><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" [routerLink]="['/promise-vs-observable']"><strong><mat-icon>assistant</mat-icon>&nbsp;Promise vs. Observable</strong></mat-card><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" [routerLink]="['/angular-forms-medium']"><strong><mat-icon>assistant</mat-icon>&nbsp;Angular Forms Medium</strong></mat-card><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" [routerLink]="['/qr-code/qr-code-generator']"><strong><mat-icon>assistant</mat-icon>&nbsp;QR Code Generator</strong></mat-card><br>
  <mat-card appMaterialElevation class="flex-container" fxLayout="row" [routerLink]="['/angular-materials/autocomplete']"><strong><mat-icon>assistant</mat-icon>&nbsp;Autocomplete</strong></mat-card>
</div>

<div class="main">
  <br>
  <router-outlet></router-outlet>
  <br>
</div>

<div class="footer">
  <p class="opening">Need a help? Contact resh2079@gmail.com or +601126755519</p>
  <p class="opening">Thank you. Have a nice day.</p>
</div>