<div style="margin-left: 25px; width: 98%">
  <h3><b>Naresh Angular Project</b></h3>
</div>

<div style="margin-left: 25px; width: 98%">
  <ul class="navigation">
    <button mat-raised-button class="fixed-button" [routerLink]="['/rxjs-proj']"><strong>RXJS PROJECT</strong></button>
    <button mat-raised-button class="fixed-button" [routerLink]="['/promise-vs-observable']"><strong>PROMISE VS OBSERVABLE</strong></button>
    <button mat-raised-button class="fixed-button" [routerLink]="['/angular-forms']"><strong>ANGULAR FORMS</strong></button>
    <button mat-raised-button class="fixed-button" [routerLink]="['/angular-forms-medium']"><strong>ANGULAR FORMS MEDIUM</strong></button>
    <button mat-raised-button class="fixed-button" [routerLink]="['/qr-code/qr-code-generator']"><strong>QR CODE GENERATOR</strong></button>
    <button mat-raised-button class="fixed-button" [routerLink]="['/angular-materials/autocomplete']"><strong>AUTOCOMPLETE</strong></button>
  </ul>
</div>

<!-- <div style="margin-left: 25px; width: 98%">
  <h3 class="angular-material"><b>Angular Material</b></h3>
  <ul class="angular-material-navigation">
    <button mat-raised-button class="fixed-button" [routerLink]="['/angular-materials/autocomplete']"><strong>AUTOCOMPLETE</strong></button>
  </ul>
</div> -->

<div style="margin-left: 25px; width: 98%">
  <router-outlet></router-outlet>
</div>

