h4 {
    background-color: royalblue
}

p {
  background-color: salmon;
}

ngx-qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
  margin-top: -10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 30px;
}

qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

.fixed-button {
  background-color: green;
  color: white;
}

