.toolbar {
  background-image: linear-gradient(to right, #e1dd72, #a8c66c, #1b6535);
  height: 40px;
  font-family: cursive;
  font-size: 15px;
  font-weight: bold;
}

.card {
  background-image: linear-gradient(to right, black, gold);
  color: white;
  height: 50px;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}

.selection {
  background-image: linear-gradient(to right, #D198C5FF, #E0C568FF);
}

textarea {
  margin-top: -10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 30px;
  background-image: linear-gradient(to right, #D198C5FF, #E0C568FF);
}

qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

.fixed-button {
  background-color: green;
  color: white;
}

